

.hero{
    background-image: url('../images/l3.jpg');
    background-repeat: no-repeat;  
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh; 
} 

.hero::before{
    content: '';
    position: absolute;
    top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: rgba(254, 254, 255, 0.5);
}



/* navbar section style */
.navbar-container{
    width: 20%;
    height: 100%;
    z-index: 1;
}
.navbar{
    height: 100%;   
}

i{
    width: 200px;
}

/* social media section style */
.info-container{
    width: 50%;
    padding-top: 15%;
    text-align: left;
    z-index: 1;
}

.icon-link, .nav-link i{
    color: #000000;
    font-size: 20px;
}


.my-image-container{
    width: 30%;
    /* padding-top: 25%; */
}
h1{
    font-weight: bolder;
    
}

.container{
    border: 2px solid rgb(241, 4, 4);
}

/* About Section */
.info-icons{
    font-size: 10px;
}

  
hr.solid-hr{
    border: 1px solid #000000;
    width: 20%;
    margin-left: 40%; 
    margin-top: -4px;
}
hr.tick-hr{
    border: 3px solid hsla(0, 0%, 0%, 0.879);
    width: 8%;
    margin-left: 46%; 
    margin-top: -20px;
}
@media (max-width: 768px){
    hr.solid-hr{
        width: 40%;
        margin-left: 30%; 
    }
    hr.tick-hr{       
        width: 12%;
        margin-left: 44%; 
    }


    
}

/* :root{
    --bs-link-icon-color: #000000;
    --icon-link-gap: .375rem;
    --icon-link-icon-size: 1em;
} */

/* .my-image{
    background-image: url('../images/me1-remove-background.com4.png');
    background-size: cover;
    background-position: center;
} */


